<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <system.webServer>
        <rewrite>
            <rules>
                <rule name="home">
                    <match url="^home" />
                    <action type="Rewrite" url="home.asp" />
                </rule>
                <rule name="about-us">
                    <match url="^about-us" />
                    <action type="Rewrite" url="about.asp" />
                </rule>
                <rule name="product">
                    <match url="^product" />
                    <action type="Rewrite" url="product.asp" />
                </rule>
                <rule name="news">
                    <match url="^news$" />
                    <action type="Rewrite" url="news.asp" />
                </rule>
                <rule name="news-detail">
                    <match url="^news-detail" />
                    <action type="Rewrite" url="news-detail.asp" />
                </rule>
            </rules>
        </rewrite>
        <directoryBrowse enabled="true" />
        <defaultDocument>
            <files>
                <add value="home.asp" />
            </files>
        </defaultDocument>
    </system.webServer>
</configuration>
